{% extends "layout.html" %}
{% block body %}
<body>
<section id="about" class="about" style="background-color: #c2b490; color: #212529;">
      <div class="container" style="color: #090707">

        <div class="section-title">
          <h2 style="color: #000000;">
          <br>
          About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <div class="container d-flex align-items-center">
             <p align="fade-left" style="color: #000000;">"Spinfosys has been a lifesaver for our business. We needed to rent printers for a trade show and they were able to provide us with high-quality printers on a short notice. The team was also very helpful in setting up the equipment and providing training for our staff. We were very impressed with the level of service and professionalism provided by Spinfosys and would definitely use them again for any future events." - Emily Davis, Marketing Manager of DEF Co.<br>
<br>
<br>
             "We have been using Spinfosys for our laptop rental needs for several years now, and we have been extremely satisfied with their service. The laptops are always in excellent condition and the team is always available to provide support and troubleshoot any issues that may arise. We also appreciate their flexible rental options, which allow us to rent laptops for as long as we need. We highly recommend Spinfosys to any business in need of reliable and affordable technology rental services." - Mark Wilson, CFO of GHI Inc.
             
<br>
<br>
             "Spinfosys has been a great partner for our business. We needed to rent desktops for a short-term project, and their team was able to provide us with exactly what we needed, quickly and at a great price. The desktops were in excellent condition and performed flawlessly. And when we needed on-demand support, their team was there to help right away. We highly recommend Spinfosys for all your technology rental needs." - Rachel Taylor, CEO of JKL Corp.
<br>
<br>            
             "We were in a bind when our office's laptops suddenly went down. We needed replacements immediately, and Spinfosys was able to provide us with top-of-the-line laptops on a short notice. The team was also very helpful in setting up the equipment and providing training for our staff. We were very impressed with the level of service and professionalism provided by Spinfosys and would not hesitate to use them again." - Nicholas Rodriguez, IT Manager of MNO Inc.</p>

            <!--<p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
            </p>-->
            </div>
            <a href="#" class="btn-learn-more" style="color:#0e222b;border: 2px solid #055160;">Learn More</a>
          </div>
        </div>

      </div>
    </section>

</body>
{% endblock %}