{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Account details</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="background-color: #2FAA96">
<br>
<br>
<br>
<br>
<br>
<div style="width: 58%;" align="center">
<table class="table table-dark">
  <thead align="center">
    <tr align="center">
      <th scope="col">Account Details</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      	Acct Name:
      	<br>
      	<br>
      	Bank Name:
      	<br>
      	<br>
      	Account No:
      	<br>
      	<br>
      	IFSC Code:
      	<br>
      	<br>
      	GST no:
      	<br>
      	<br>
      Branch Code:
      	<br>
      	<br>
      Branch Name:
  	 </td>
      <td>
      	S P INFOSYS
      	<br>
      	<br>
      	Union bank of India
      	<br>
      	<br>
      	210321010000039
      	<br>
      	<br>
      	UBIN0921033
      	<br>
      	<br>
      	07BCQPR2121G1ZL
      	<br>
      	<br>
        21032
      	<br>
      	<br>
        Dwarka, Sector-6, New Delhi-110075
      </td>
    </tr>
  </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</div>
</body>
</html>
{% endblock %}