{% extends "layout.html" %}
{% block body %}
<body>    
  <section id="pricing" class="pricing" style="background-color: #D9DDDC">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>PRODUCTS THAT YOU CAN RENT</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Apple MacBook Pro</h3>
              <h4><sup>Rs</sup>6500<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i>15-inch Laptop (Core i7</li>
                <li><i class="bx bx-check"></i>16GB</li>
                <li><i class="bx bx-check"></i>512GB</li>
                <li><i class="bx bx-check"></i>Mac OS</li>
                <li><i class="bx bx-check"></i>Integrated Graphics)</li>
              </ul>
              <a href="#" class="buy-btn">BOOK NOW</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Apple MacBook Air</h3>
              <h4><sup>Rs</sup>3500<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i>13-inch Laptop (Core i5)</li>
                <li><i class="bx bx-check"></i>8GB</li>
                <li><i class="bx bx-check"></i>128GB</li>
                <li><i class="bx bx-check"></i>SSD</li>
                <li><i class="bx bx-check"></i>MacOS</li>
              </ul>
              <a href="#" class="buy-btn">BOOK NOW</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Core i7</h3>
              <h4><sup>Rs</sup>3000<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i>Intel Core i7</li>
                <li><i class="bx bx-check"></i>Ram 16GB</li>
                <li><i class="bx bx-check"></i>Hard Drive</li>
                <li><i class="bx bx-check"></i>320GB SATA</li>
                <li><i class="bx bx-check"></i>Web Cam</li>
              </ul>
              <a href="#" class="buy-btn">BOOK NOW</a>
            </div>
          </div>
<hr>
          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Core i5/h3</h3>
              <h4><sup>Rs</sup>1500<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i>15-inch Laptop (Core i7</li>
                <li><i class="bx bx-check"></i>16GB</li>
                <li><i class="bx bx-check"></i>512GB</li>
                <li><i class="bx bx-check"></i>Mac OS</li>
                <li><i class="bx bx-check"></i>Integrated Graphics)</li>
              </ul>
              <a href="#" class="buy-btn">BOOK NOW</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>AMD</h3>
              <h4><sup>Rs</sup>2200<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i>15-inch Laptop (Core i7</li>
                <li><i class="bx bx-check"></i>16GB</li>
                <li><i class="bx bx-check"></i>512GB</li>
                <li><i class="bx bx-check"></i>Mac OS</li>
                <li><i class="bx bx-check"></i>Integrated Graphics)</li>
              </ul>
              <a href="#" class="buy-btn">BOOK NOW</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Core i5</h3>
              <h4><sup>Rs</sup>2500<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i>15-inch Laptop (Core i7</li>
                <li><i class="bx bx-check"></i>16GB</li>
                <li><i class="bx bx-check"></i>512GB</li>
                <li><i class="bx bx-check"></i>Mac OS</li>
                <li><i class="bx bx-check"></i>Integrated Graphics)</li>
              </ul>
              <a href="#" class="buy-btn">BOOK NOW</a>
            </div>
          </div>

<hr>
          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Core i3</h3>
              <h4><sup>Rs</sup>1200<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i>15-inch Laptop (Core i7</li>
                <li><i class="bx bx-check"></i>16GB</li>
                <li><i class="bx bx-check"></i>512GB</li>
                <li><i class="bx bx-check"></i>Mac OS</li>
                <li><i class="bx bx-check"></i>Integrated Graphics)</li>
              </ul>
              <a href="#" class="buy-btn">BOOK NOW</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Core 2 Duo</h3>
              <h4><sup>Rs</sup>1000<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i>15-inch Laptop (Core i7</li>
                <li><i class="bx bx-check"></i>16GB</li>
                <li><i class="bx bx-check"></i>512GB</li>
                <li><i class="bx bx-check"></i>Mac OS</li>
                <li><i class="bx bx-check"></i>Integrated Graphics)</li>
              </ul>
              <a href="#" class="buy-btn">BOOK NOW</a>
            </div>
          </div>
        </div>
        </div>

      </div>
    </section>

<section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename = 'assets/img/clients/len.png') }}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename = 'assets/img/clients/dell.png') }}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename = 'assets/img/clients/Apple.png') }}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename = 'assets/img/clients/asus.png') }}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename = 'assets/img/clients/acer.png') }}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{{ url_for('static', filename = 'assets/img/clients/xiaomi.png') }}" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section>

<div style="background-color: #ffc3a0;">
<h1 align="center">
<br>
Laptop On Rent spinfosys</h1>
<br>
<p align="center">In today's fast-paced business world, having the right technology is essential to staying competitive. But purchasing new laptops for your entire team can be costly and time-consuming. That's where Spinfosys comes in. We offer a convenient and cost-effective solution for businesses in need of laptops - laptop rentals.
<br>
<br>
Our laptop rental services provide businesses with a flexible and affordable way to access the latest technology. Whether you need laptops for a short-term project or a long-term initiative, we have a wide range of options to suit your needs. Our rental laptops are of top brands and are in excellent condition, ensuring that you get the best performance and reliability.
<br>
<br>
Our rental process is simple and straightforward. We will work with you to understand your needs and recommend the best laptops for your business. We will then deliver the laptops to your location, and our team will set them up and provide training as needed.
<br>
<br>
At Spinfosys, we understand that technology needs can change quickly, which is why our rental agreements are flexible and can be customized to suit your needs. Whether you need to rent laptops for a day, a week, or longer, we have options to fit your schedule.
<br>
<br>
In addition to our laptop rental services, we also offer on-demand support and repair services. Our team is available 24/7 to provide assistance and troubleshoot any issues that may arise.
<br>
<br>
With Spinfosys, you can have the latest technology without the burden of owning it. Our laptop rental services provide businesses with a flexible and affordable way to access the technology they need to succeed. Contact us today to learn more about our rental options.</p>
</div>
</body>
{% endblock %}